* {
    box-sizing: border-box;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book-container .card {
    width: 100%;
}

.book-container .card-box {
    width: 33%;
    padding: 0.5rem;
}

.book-image {
    width: 100%;
    background-color: grey;
    height: 200px;
    color: white;
    line-height: 200px;
    text-align: center;
} 

.filter-container {
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
}